{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Account Details</title>
	<meta name="keywords" content="" />
    <meta name="description" content="" />
	
	<link href="{% static 'publicbanking/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static 'publicbanking/js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'publicbanking/js/bootstrap.js' %}"></script>
	<script>
		$(document).ready(function(){
			$('.transactionmodal_class').click(function(e){
				var transactionNum = $(this).val();
				var jsonRequestLink = "/publicbanking/transaction_info/"+transactionNum
				$.getJSON(jsonRequestLink, {}, function(data){
					$("#transaction_origin").text(data.transaction_origin);
					$("#transaction_destination").text(data.transaction_destination);
					$("#transaction_amount").text("$"+data.transaction_amount);
					$("#transaction_name").text(data.transaction_name);
					$("#transaction_id").text(data.transaction_id);
				});
				e.preventDefault;
				$("#transactionmodal").modal("show");
			})
		});
	</script>
</head>
<body>
<div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"><img src="{% static 'publicbanking/images/logo_bank.png' %}" alt="Jupiter Bank" class="img-responsive" style="max-width: 100%;max-height: 120px;"></a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <form action="/publicbanking/logout_user/" method="POST">
			    {% csrf_token %}
				<button class="btn btn-sm btn-outline-secondary" type="submit">Logout</button>
			</form>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Banking</a>
          <a class="p-2 text-muted" href="#">Services</a>
          <a class="p-2 text-muted" href="#">Products</a>
		  <a class="p-2 text-muted" href="#">Customer Services</a>
        </nav>
      </div>
	  
	  <div class="row mb-2">
		<a class="btn btn-primary" href="/publicbanking/" role="button">Return to Accounts</a>
	  </div>

	  <div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				  <div class="card-body d-flex flex-column align-items-start">
				  <strong class="d-inline-block mb-2 text-primary">{{ account.account_type }}</strong>
				  <h3 class="mb-0">
					<a class="text-dark" href="#">${{ account.account_balance }}</a>
				  </h3>
				  <div class="mb-1 text-muted">{{ account.account_transitNum }}-{{ account.account_number }}</div>
				  <p class="card-text mb-auto"></p>
				  <a href="#"></a>
				</div>
			</div>
			
	  </div>  
	  
	  <table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Transaction</th>
				<th scope="col">Debit</th>
				<th scope="col">Credit</th>
				<th scope="col">Running Balance</th>
				<th scope="col">Info</th>
			</tr>
		</thead>
		<tbody>
			  {% for transaction in transactions %}
			  <tr>
				<th scope="row">{{ transaction.transaction_time }}</th>
				<td>{{ transaction.transaction_name }}</td>
				{% if transaction.transaction_origin == account.account_number %}
					<td>${{ transaction.transaction_amount }}</td>
					<td></td>
					<td>${{ transaction.transaction_origin_balance}}</td>
					<td><button type="button" class="btn btn-outline-info transactionmodal_class" value="{{ transaction.transaction_id }}" data-toggle="modal" data-target="#transactionmodal">View</button></td>
				{% elif transaction.transaction_destination == account.account_number %}
					<td></td>
					<td>${{ transaction.transaction_amount }}</td>	
					<td>${{ transaction.transaction_destination_balance}}</td>
					<td><button type="button" class="btn btn-outline-info transactionmodal_class" value="{{ transaction.transaction_id }}" data-toggle="modal" data-target="#transactionmodal">View</button></td>
                {% else %}
                    <td></td>
                    <td></td>
					<td></td>
					<td></td>
				{% endif %}
			  </tr>
			  {% endfor %}
		</tbody>
      </table>	
	  <div class="modal fade" id="transactionmodal" tabindex="-1" role="dialog" aria-labelledby="transactionmodaltitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="transactionmodaltitle">Transaction Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				  <div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted">Transaction Origin</h6>
					<p class="card-text" id="transaction_origin"></p>
					<h6 class="card-subtitle mb-2 text-muted">Transaction Destination</h6>
					<p class="card-text" id="transaction_destination"></p>
					<h6 class="card-subtitle mb-2 text-muted">Transaction Amount</h6>
					<p class="card-text" id="transaction_amount"></p>
					<h6 class="card-subtitle mb-2 text-muted">Transaction name</h6>
					<p class="card-text" id="transaction_name"></p>
					<h6 class="card-subtitle mb-2 text-muted">Transaction ID</h6>
					<p class="card-text" id="transaction_id"></p>
				  </div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			  </div>
			</div>
		  </div>
	  </div>	  
</div>	
</body>
</html>