{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Wire Transfers</title>
	<meta name="keywords" content="" />
    <meta name="description" content="" />

	<link href="{% static 'publicbanking/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'publicbanking/css/font-awesome.css' %}">
	<script type="text/javascript" src="{% static 'publicbanking/js/bootstrap.js' %}"></script>
	<script src="{% static 'publicbanking/js/jquery-3.3.1.min.js' %}"></script>
	<style>
		.red-title {
			color: #be4444;
		}
		.account-style {
			background-color: #f9f9f9;
		}
		nav.navbar-dark {
			background-color: #343a40;
			border-radius: 5px;
		}
		.text-herb {
			color: #626e60;
		}
		.text-terra {
			color: #945D60;
		}
		.navbar-dark .navbar-nav .nav-link {
			color: #ffffff;
			font-weight: 500;
		}
		.fa-3 {
			font-size: 3em;
		}
	</style>
</head>
<body>
<div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"><img src="{% static 'publicbanking/images/logo_bank.png' %}" alt="Jupiter Bank" class="img-responsive" style="max-width: 100%;max-height: 120px;"></a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
			<form action="/publicbanking/logout_user/" method="POST">
			    {% csrf_token %}
				<button class="btn btn-primary" type="submit" id="logout_submit_button">Logout</button>
			</form>
          </div>
        </div>
      </header>
	  
	  <nav class="navbar navbar-expand-xl navbar-dark">
		  <div class="navbar-collapse collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="/publicbanking/accounts/">Accounts</a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="/publicbanking/wire_transfers/">Wire Transfers</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">E-Transfers</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/publicbanking/currency_exchange/">Currency Exchange</a>
			  </li>
			</ul>
			<form class="form-inline my-2 my-md-0">
			  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-primary" type="submit">Search</button>
			</form>
		  </div>
		  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
	  </nav>
	  
	  <div class="row mb-2" style="padding-top: 10px;">
		<div class="col-6">
			<h3 class="mb-0 red-title">Transfers</h3>
			<form action="/publicbanking/wire_transfer_request/" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="request_origin">Origin:</label>
					<select class="form-control" id="request_origin" name="request_origin">
					  {% for account in account_choices %}
					  <option value="{{ account.account_number }}">{{ account }}</option>
					  {% endfor %}
					</select>					
				</div>
				<div class="form-group">
				    <label for="request_amount">Transfer Amount:</label>
				    <div class="input-group mb-2">
					<div class="input-group-prepend">
					  <div class="input-group-text">$</div>
					</div>
					<input type="text" class="form-control" id="request_amount" name="request_amount">
				    </div>						
				</div>
				<div class="form-group">
					<label for="request_instNum">SWIFT/IBAN/Insitution Number</label>
					<input type="text" class="form-control" id="request_instNum" name="request_instNum">									
				</div>
				<div class="form-group">
					<label for="request_routingNum">Routing Number</label>
					<input type="text" class="form-control" id="request_routingNum" name="request_routingNum">									
				</div>
				<div class="form-group">
					<label for="request_accountNum">Account Number</label>
					<input type="text" class="form-control" id="request_accountNum" name="request_accountNum">									
				</div>
				<div class="form-group">
					<label for="request_address">Bank Address</label>
					<input type="text" class="form-control" id="request_bankaddress" name="request_bankaddress">									
				</div>
				<div class="form-group">
					<label for="request_name">Recipient Name</label>
					<input type="text" class="form-control" id="request_name" name="request_name">									
				</div>
				<div class="form-group">
					<label for="request_address">Recipient Address</label>
					<input type="text" class="form-control" id="request_address" name="request_address">									
				</div>	
	
				<button type="submit"0 class="btn btn-primary">Request Wire Transfer</button>	
			</form>
		</div>
		<div class="col-6">
			<h3 class="mb-0 red-title">How It Works</h3>
			
			<div class="row" style="padding-top:10px;">
				<div class="col-4">
					<i class="fa fa-pencil fa-3" aria-hidden="true"></i>
				</div>
				<div class="col-8">
					<p>Enter all the information required by the form to request the transfer. </p>
				</div>
			</div>
			
			<div class="row" style="padding-top:10px;">
				<div class="col-4">
					<i class="fa fa-hourglass-end fa-3" aria-hidden="true"></i>
				</div>
				<div class="col-8">
					<p>Your transfer request will be validated within 2 business days, after which your recipient will receive the funds promptly and securely*.</p>
					<p><small class="text-muted">* Transfer fee applies for each transfer sent</small></p>
				</div>
			</div>
	
			<div class="row" style="padding-top:10px;">
				<div class="col-4">
					<i class="fa fa-money fa-3" aria-hidden="true"></i>
				</div>
				<div class="col-8">
					<p>The funds are transferred, and records are kepte to track that very valuable transfer and all of it details</p>
				</div>
			</div>	
			
		</div>
	  </div>
</div>
</body>
</html>