{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Wire Transfers</title>
	<meta name="keywords" content="" />
    <meta name="description" content="" />

	<link href="{% static 'publicbanking/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{% static 'publicbanking/js/bootstrap.js' %}"></script>
	<script src="{% static 'publicbanking/js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#"></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"><img src="{% static 'publicbanking/images/logo_bank.png' %}" alt="Jupiter Bank" class="img-responsive" style="max-width: 100%;max-height: 120px;"></a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              	<div class="input-group" style="padding-right: 10px;">
					  <input class="form-control" type="search" placeholder="search" id="example-search-input">
					  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" type="btn btn-sm btn-outline-secondary" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
				</div>
            </a>
			<form action="/publicbanking/logout_user/" method="POST">
			    {% csrf_token %}
				<button class="btn btn-sm btn-outline-secondary" type="submit">Logout</button>
			</form>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/publicbanking/accounts/">Accounts</a>
          <a class="p-2 text-muted" href="/publicbanking/wire_transfers/">Wire Transfers</a>
          <a class="p-2 text-muted" href="#">E-Transfers</a>
		  <a class="p-2 text-muted" href="/publicbanking/currency_exchange/">Currency Exchange</a>
        </nav>
      </div>
	  
	  <div class="row mb-2">
		<div class="col-12">
			<form action="/publicbanking/wire_transfer_request/" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="request_origin">Origin:</label>
					<select class="form-control" id="request_origin" name="request_origin">
					  {% for account in account_choices %}
					  <option value="{{ account.account_number }}">{{ account }}</option>
					  {% endfor %}
					</select>					
				</div>
				<div class="form-group">
				    <label for="request_amount">Transfer Amount:</label>
				    <div class="input-group mb-2">
					<div class="input-group-prepend">
					  <div class="input-group-text">$</div>
					</div>
					<input type="text" class="form-control" id="request_amount" name="request_amount">
				    </div>						
				</div>
				<div class="form-group">
					<label for="request_instNum">SWIFT/IBAN/Insitution Number</label>
					<input type="text" class="form-control" id="request_instNum" name="request_instNum">									
				</div>
				<div class="form-group">
					<label for="request_routingNum">Routing Number</label>
					<input type="text" class="form-control" id="request_routingNum" name="request_routingNum">									
				</div>
				<div class="form-group">
					<label for="request_accountNum">Account Number</label>
					<input type="text" class="form-control" id="request_accountNum" name="request_accountNum">									
				</div>
				<div class="form-group">
					<label for="request_address">Bank Address</label>
					<input type="text" class="form-control" id="request_bankaddress" name="request_bankaddress">									
				</div>
				<div class="form-group">
					<label for="request_name">Recipient Name</label>
					<input type="text" class="form-control" id="request_name" name="request_name">									
				</div>
				<div class="form-group">
					<label for="request_address">Recipient Address</label>
					<input type="text" class="form-control" id="request_address" name="request_address">									
				</div>	
	
				<button type="submit"0 class="btn btn-primary">Request Wire Transfer</button>	
			</form>
		</div>
	  </div>
</div>
</body>
</html>